{% extends "layout.html" %}

{% block content %}
   <nav class="amber accent-4" style="position:relative;z-index:1000;">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo" style="margin-left:50px;">Pycoin</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">Github Repo</a></li>
        <li><a href="components.html">Documentation</a></li>
      </ul>
    </div>
  </nav>
  <div class="slider" style="position:relative;z-index:1;">
    <ul class="slides">
      <li>
        <img src="{{url_for('static', filename='landing.png')}}"> <!-- random image -->
        <div class="caption center-align">
          <h1>Welcome to Pycoin</h1>
          <h5 class="light grey-text text-lighten-3">An Interactive Visualization of Bitcoin Markets & Exchanges</h5>
          <a class="waves-effect waves-light btn-large amber accent-4" style="margin-top:70px;">Click to Begin</a>
        </div>
      </li>
    </ul>
  </div>
  <div class="center-align grey-text text-darken-2" style="margin-top:-20px;margin-bottom:40px;">
    <h3>Raul Jordan & Jacques Van Rhyn</h3>
    <h4>Harvard University</h4>
    <h4>CS171 Final Project</h4>
  </div>
  <footer class="page-footer amber accent-4">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Pycoin</h5>
                <p class="grey-text text-lighten-4">Interactive bitcoin visualization for market analysis of arbitrage opportunities.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">More</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Github</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">CS171</a></li>
  
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2014 Raul Jordan & Jacques Van Rhyn
            <a class="grey-text text-lighten-4 right" href="#!">Made With <i class="mdi-action-favorite"></i></a>
            </div>
          </div>
        </footer>
{% endblock %}
