.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}

.area {
	fill: #ffab00;
}

.link {
  stroke: #008894;
  stroke-width: 1.5px;
  opacity:1;
}

.node {
  cursor: move;
  fill: #ffab00;
  stroke: #000;
  stroke-width: 1.5px;
}

.node.fixed {
  fill: #008894;
}
#barchart-container2 path{
  fill: none;
  stroke: black;
  stroke-width: 2px;
}