{% extends "layout.html" %}

{% block content %}
  
  <div class="slider" style="position:relative;z-index:1;">
    <ul class="slides">
      <li>
        <img src="{{url_for('static', filename='img/landing.png')}}"> <!-- random image -->
        <div class="caption center-align">
          <h1>Welcome to Pycoin</h1>
          <h5 class="light grey-text text-lighten-3">An Interactive Visualization of Bitcoin Markets & Exchanges</h5>
          <a href="/visualization" class="waves-effect waves-light btn-large amber accent-4" style="margin-top:70px;">Click to Begin</a>
        </div>
      </li>
    </ul>
  </div>
  <div class="center-align grey-text text-darken-2" style="margin-top:-20px;margin-bottom:40px;">
    <h3>Raul Jordan & Jacques van Rhyn</h3>
    <h4>Harvard University</h4>
    <h4>CS171 Final Project</h4>
  </div>


  
{% endblock %}
