{% extends "layout.html" %}

{% block content %}
  
  <div class="slider" style="position:relative;z-index:1;">
    <ul class="slides">
      <li>
        <img src="{{url_for('static', filename='img/landing.png')}}"> <!-- random image -->
        <div class="caption center-align">
          <h1>Welcome to Pycoin</h1>
          <h5 class="light grey-text text-lighten-3">An Interactive Visualization of Cryptocurrency Markets & Trades</h5>
          <a href="/visualization" class="waves-effect waves-light btn-large amber accent-4" style="margin-top:70px;">Click to Begin</a>
        </div>
      </li>
    </ul>
  </div>
  <div class="center-align grey-text text-darken-2" style="margin-top:-20px;margin-bottom:40px;">
    <h3>Raul Jordan, Jacques van Rhyn, Claudia Huang</h3>
    <h4>Harvard University</h4>
    <h4>CS171 Final Project</h4>
  </div>

  <div class="row container" style="margin-bottom:90px;">
            <div class="col s4">
              <div class="center promo promo-example">
                <i class="large amber-text text-accent-4 mdi-social-public"></i>
                <p class="promo-caption" style="font-size:25px;">New Cryptocurrencies Each Day</p>
                <p class="light center" style="font-size:20px;">So many new cryptocurrencies on the market, yet there is no way to visualize how people trade between them or how popular they are on a global scale.</p>
              </div>
            </div>
            <div class="col s4">
              <div class="center promo promo-example">
                <i class="large amber-text text-accent-4 mdi-action-lock"></i>
                <p class="promo-caption" style="font-size:25px;">Cryptocurrencies are More Popular than Ever</p>
                <p class="light center" style="font-size:20px;">Since the rise of bitcoin, it has become even more crucial to analyze trends in trade volume as well as between unknown and known currencies interactively.</p>
              </div>
            </div>
            <div class="col s4">
              <div class="center promo promo-example">
                <i class="large amber-text text-accent-4 mdi-action-thumbs-up-down"></i>
                <p class="promo-caption" style="font-size:25px;">Important & Relevant Data</p>
                <p class="light center" style="font-size:20px;">It is crucial to use visualizations with this data to understand and perceive new trends that would not be possibly by simply looking at exchange data in other forms.</p>
              </div>
            </div>
  </div>

  
{% endblock %}
