<!DOCTYPE html>
<html>
  <head>
   
   <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="{{url_for('static', filename='materialize.css')}}">
  <link rel="icon" 
     
      href="{{url_for('static', filename='coin.ico')}}" />
  	
    <title>Pycoin</title>    
  </head>
  <body>

 
      {% block content %}

      {% endblock %}
	  
  <!-- Compiled and minified JavaScript -->
  <script src="{{url_for('static', filename='jquery-2.1.3.min.js')}}"></script>
  <script src="{{url_for('static', filename='materialize.js')}}"></script>
  <script type="text/javascript">
	  	$(document).ready(function(){
	      $('.slider').slider({height:500, indicators:false});
	    });
	        
  </script>
  </body>

</html>
