{% extends "layout.html" %}

{% block content %}
  <img src="{{url_for('static', filename='img/714.GIF')}}" style="width:200px;height:200;" class="loader centered">

  <div class="row">
    <div id="node-container" class="col s6" style="margin-top:50px;">

    </div>
    <div class="col s6" style="margin-top:50px;">

      <div class="row" style="margin-left:170px;z-index:100;position:relative;">
        <div class="col s4">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="{{url_for('static', filename='img/coins/BTC.png')}}">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">BTC <i class="mdi-navigation-more-vert right"></i></span>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">BTC <i class="mdi-navigation-close right"></i></span>
              <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
          </div>
        </div>
        <div class="col s4">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="{{url_for('static', filename='img/coins/LTC.png')}}">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">LTC <i class="mdi-navigation-more-vert right"></i></span>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">LTC <i class="mdi-navigation-close right"></i></span>
              <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
          </div>
        </div>


      </div>

      <div class="row">
        <div class="input-field col s6">
          <select style="position:relative;z-index:10000;">
            <option value="" disabled selected>Choose the Coin</option>
            <option value="1">BTC</option>
            <option value="2">LTC</option>
            <option value="3">XTC</option>
          </select>
          <label>Trading From</label>
        </div>

        <div class="input-field col s6">
          <select style="position:relative;z-index:10000;">
            <option value="" disabled selected>Choose the Coin</option>
            <option value="1">BTC</option>
            <option value="2">LTC</option>
            <option value="3">XTC</option>
          </select>
          <label>Trading To</label>
        </div>
      </div>

      <div class="row">
          <div id="barchart-container" class="col s12">

          </div>
          <div id="barchart-container2" class="col s12">

          </div>
      </div>

    </div>
  </div>
        
  



  <script type="text/javascript">
    $(document).ready(function() {
      $('.page-footer').hide();
      $('select').material_select();

      var nodeData = [];
      var marketData = [];
      var dateFormatter = d3.time.format("%d-%H:%M");

      var initVis = function() {
        var MyEventHandler = {};
        var force = new Force(d3.select("#node-container"), nodeData, MyEventHandler);
        var volume = new Volume(d3.select("#barchart-container"), marketData, MyEventHandler);
        var price = new Price(d3.select("#barchart-container2"), marketData, MyEventHandler);

        $(MyEventHandler).bind("selectionChanged", function(event, names){
            volume.onSelectionChange(names);
            price.onSelectionChange(names);
        });
      };

      var dataLoaded = function(error, _nodeData, _marketData) {
        if (!error) {
          $('.loader').hide();
          $('.page-footer').show();

          nodeData = _nodeData;
          marketData = _marketData;

          initVis();
        }
      };

      var startHere = function(){
        queue()
        .defer(d3.json, "{{url_for('static', filename='data/nodes.json')}}")
        .defer(d3.json, "{{url_for('static', filename='data/markets.json')}}")
        .await(dataLoaded); 
      }

      startHere();

    });
  </script>

{% endblock %}
