{% extends "layout.html" %}

{% block content %}
  <div id="cex" style="margin-bottom:100px;">

  </div>


  <script type="text/javascript">
    $(document).ready(function() {
      var allData = [];
      var dateFormatter = d3.time.format("%d-%H:%M");

      var initVis = function() {
        var MyEventHandler = {};
        var cex = new Cex(d3.select("#cex"), allData, MyEventHandler);
      };

      var dataLoaded = function(error, _allData) {
        if (!error) {

          allData = _allData.map(function (d) {
                      var pre_date = new Date(d.date * 1000);
                      var res = {
                          time: d.date,
                          money: Math.floor(d.amount * d.price)
                      };
                      console.log(res);
                      return res;

                    });

          initVis();
        }
      };

      var startHere = function(){
        queue()
          .defer(d3.json, "{{url_for('static', filename='data/bitstamp.json')}}") 
          .await(dataLoaded); 
      }

      startHere();

    });
  </script>

{% endblock %}
