{% extends "layout.html" %}

{% block content %}
  <div id="node-container" style="margin-bottom:50px;">

  </div>
  <div id="barchart-container" style="margin-bottom:50px;">

  </div>


  <script type="text/javascript">
    $(document).ready(function() {
      var nodeData = [];
      var dateFormatter = d3.time.format("%d-%H:%M");

      var initVis = function() {
        var MyEventHandler = {};
        var force = new Force(d3.select("#node-container"), nodeData, MyEventHandler);
      };

      var dataLoaded = function(error, _nodeData) {
        if (!error) {

          nodeData = _nodeData;

          initVis();
        }
      };

      var startHere = function(){
        queue()
        .defer(d3.json, "{{url_for('static', filename='data/nodes.json')}}")
        .await(dataLoaded); 
      }

      startHere();

    });
  </script>

{% endblock %}
